* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
    background: rgb(212, 212, 212);
}

nav{
    color:rgb(80, 80, 80);
    z-index: 2;
    position: relative;
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: 700;
}

li a{
    font-weight: 500;
}

nav ul{
    list-style: none;
    display: flex;
    gap:1rem;
}

.webgl{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.heading{
    font-size: 2rem;
    position:absolute;
    color:black;
    top:78%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -85%);
    opacity: 0;
}

@media (max-width: 576px) {
    .heading{
        font-size: 1.3rem;
    }
    nav{
        padding: 2rem 3rem;
    }

    li {
        font-size: 0.7rem;
    }

    nav a{
        font-size: 0.7rem;
    }
}